<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luka.rhythmtonotes" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        //android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        <activity
            android:name="com.example.luka.rhythmtonotes.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.luka.rhythmtonotes.ModeSelectionActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="landscape" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.luka.rhythmtonotes.WriteActivity"
            android:label="@string/title_activity_write"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.luka.rhythmtonotes.CalibrationActivity"
            android:label="@string/title_activity_calibration"
            android:noHistory="true"
            android:screenOrientation="landscape" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.luka.rhythmtonotes.FirstStartActivity"
            android:label="@string/title_activity_first_start"
            android:screenOrientation="landscape" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.example.luka.rhythmtonotes.ChooseLanguageActivity"
            android:label="@string/title_activity_choose_language"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.luka.rhythmtonotes.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.luka.rhythmtonotes.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.luka.rhythmtonotes.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
